@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    @apply bg-dark-blue;
}

@layer utilities {
    .heading_sm {
        text-shadow: 4px 4px 0 #c39e53;
        @apply text-white text-[40px] leading-[44px] uppercase font-scouser-ste font-medium;
    }
    .heading_md {
        text-shadow: 4px 4px 0 #c39e53;
        @apply text-white text-[60px] leading-[66px] uppercase font-scouser-ste font-medium;
    }
    .heading_lg {
        text-shadow: 4px 4px 0 #c39e53;
        @apply text-white text-[92px] leading-[101px] uppercase font-scouser-ste font-medium;
    }
    .paragraph_sm {
        text-shadow: 4px 4px 0 #000;
        @apply text-white text-[28px] leading-[45px] uppercase font-praebrg font-normal;
    }
    .nav_link {
        text-shadow: 4px 4px 0 #000;
        @apply text-white text-[25px] leading-[25px] uppercase font-praebrg font-normal px-[20px] py-3 block;
    }
    .section_py {
        @apply py-[150px];
    }

    .container {
        @apply mx-auto max-w-full px-5 md:px-0 lg:max-w-[1024px];
    }
    .text_spacing {
        @apply mb-[30px];
    }

    .border_soft {
        border-color: rgba(255, 255, 255, 0.08);
    }
}

.team_slider_wrapper .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.8) !important;
    height: 6.5px !important;
    transition: 0.4s ease;
}

.team_slider_wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff !important;
    width: 25px !important;
    border-radius: 10px !important;
}
